.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5px; 
    margin-bottom: 5px;
}


.response-box {
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
   
}

.logo-container {
    text-align: center;
}

.logo {
    width: 100px; 
    height: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
}
