*{
	list-style: none;
	text-decoration: none;
}

body{
    margin: 0;
    background-color: #f8f8ff;
    padding-top: 60px;
}

.header {
    position: fixed;
    top: 0;    
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #f0e7f0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box img {
    width: 40px;
    height: auto;
    margin: 10px;
}

.logo-box h1{
    color: #6a0572;
    font-size: 28px;
    font-weight: 600;
}


h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6a0572;
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6a0572;
}

p {
    text-align: center;
}

p a {
    color: #6a0572;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}