*{
	list-style: none;
	text-decoration: none;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.55)), url('../images/diy-background.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 75px;
    color: #e77eee;
    font-family: 'Brygada 1918';
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#ef8ef6;
}

.content h1 {
    font-size: 60px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: bold;
    line-height: 25px;
}  

.index-button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #e77eee;
    background: transparent;
    color: #e77eee;
    cursor: pointer;
    position: relative;
    
}

.index-button:hover {
    border: none;
}   

#instruction {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
    font-family: 'Brygada 1918';
    color: #6a0572;
}

.title-text h1{
    font-size: 50px;
    margin: auto;
    font: 20px;
}

.title-text p{
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;  /* 调整字间距 */
    line-height: 1.4;     /* 调整行高 */
}
