<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <link rel="icon" href="../static/images/diy.png">
    <title>{{ title }} - DIY Corner</title>
    {% else %}
    <link rel="icon" href="../static/images/diy.png">
    <title>Welcome to DIY Corner!</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js' )}}"></script>   
</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <a href="{{ url_for('main.index') }}" class="logo-box">
                    <img src="../static/images/diy.png" alt="logo">
                    <h1>DIY Corner</h1>
                </a>
            </div>
            <div class="search-box">
                <form action="{{ url_for('main.search') }}" method="GET" class="search-bar">
                    <input name="keyword" id="keyword" class="input-text" placeholder="Search DIY Events" type="text">
                    <input name="submit" class="input-submit" value="Search" type="submit">
                </form>
            </div>
            <div class="nav-links">
                <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('main.login') }}">Log In</a>
                    <a href="{{ url_for('main.signup') }}">Sign Up</a>
                {% else %}
                    <a href="{{ url_for('main.profile', user_id=current_user.id) }}">My Profile</a>
                    <a href="{{ url_for('main.logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    
</body>
</html>



