{% extends "base.html" %}

{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-left">
            <h1>Best of DIY - Latest Posts</h1>
            <div class="all-posts">
                {% for post in posts.items %}
                <div class="all-posts-list">
                    <a href="{{ url_for('details', post_id=post.id) }}" class="all-posts-title">{{ post.title }}</a>
                    <p>{{ post.content | truncate(100) }}</p>
                    <a href="{{ url_for('details', post_id=post.id) }}" class="read-more">Read More</a>
                </div>
                {% endfor %}
            </div>
            <div class="pages">
                <p>
                    {% if posts.has_prev %}
                        <a href="{{ url_for('dashboard', page=posts.prev_num) }}">Previous page</a>
                        {{ posts.prev_num }}
                    {% endif %}
                </p>
                <p>Page {{ posts.page }} of {{ posts.pages }}</p>
                <p>
                    {% if posts.has_next %}
                        <a href="{{ url_for('dashboard', page=posts.next_num) }}">Next page</a>
                        {{ posts.next_num }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="dashboard-right">
            <a href="{{ url_for('post') }}" class="create-button">Create New Post Here</a>
            <h1>Learn DIY from Videos</h1>
            <div class="video-grid">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/QVfEGFvIDnc?si=Cei9VK51KD9ou2X9" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>DIY Home Decor</p>
                    </div>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/x3GINpzPkXo?si=aq_kUpp5knVp_4PK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>DIY Clothes</p>
                    </div>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/drT-Qp1PA30?si=W9aBeQiDM2I64Jkm" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>DIY Paper Crafts</p>
                    </div>
            </div>   
        </div>
    </div>
                 
{% endblock %}
