<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--logo & title on brower--> 
    <link rel="icon" href="../static/images/diy.png"> 
    <title>{{ title }} - DIY Corner</title>
        
    <!--css-->
    <link rel="stylesheet" href="../static/css/dashboard-search.css">     
    
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
</head>

<body>
    <!--extend base.html-->
    {% extends "base.html" %}
    
    <main>
        <div class="main-container">
            <div class="main-left">
                <div class="main-left-nav">
                    <button class="tablink" onclick="openTab(event, 'Videos')">Videos</button>
                    <button class="tablink" onclick="openTab(event, 'Trending')">Trending</button>
                    <button class="tablink" onclick="openTab(event, 'WaitForAnswer')">Wait for Answering</button>
                </div>
                <div id="postsContainer" class="content-box">
                    <div id="Videos" class="tabcontent">
                        <h2>Videos</h2>
                        <p>Content for Videos...</p>
                        <div class="video-grid">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/QVfEGFvIDnc?si=Cei9VK51KD9ou2X9" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Home Decor</p>
                            </div>
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/x3GINpzPkXo?si=aq_kUpp5knVp_4PK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Clothes</p>
                            </div>
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/drT-Qp1PA30?si=W9aBeQiDM2I64Jkm" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Paper Crafts</p>
                            </div>
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/1yTz2Dg1V8s?si=DEHXNj5qmN1o7y_8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Jewellery</p>
                            </div>
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/dSyzaiISa_c?si=clqrifn9rxREXZWs" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Gardening</p>
                            </div>
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/TJV_AXYO528?si=p9VPyGlvpxyf-LCN" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>DIY Cakes</p>
                            </div>
                        </div>
                    </div>
                    <div id="Trending" class="tabcontent">
                        <h2>Trending</h2>
                        <p>Content for Trending...</p>
                    </div>
                    <div id="WaitForAnswer" class="tabcontent">
                        <h2>Wait for Answering</h2>
                        <p>Content waiting for answers...</p>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="request-box">
                    <a href="newRequest.html"><h2>Create A Request</h2></a>
                </div>
                <div class="category-box">
                    <h2>Popular Articles</h2>                  
                </div>
                <div class="collection-box">
                    <h2>My collection</h2>
                </div>
            </div>
        </div>
    </main>


</body>
</html>