{% extends 'base.html' %}

{% block content %}
    <div class="details-container">
        <h1>{{ post.title }}</h1>
        <p class="details-author">Author: <img src="{{ post.author.avatar(48) }}"> {{ post.author.username }}</p>
        <p class="details-date">Date Posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
        <p class="details-content">{{ post.content}}</p>
        <div class="comment-box">
            <div class="comment-details">
                <p>Comments</p>
                <div class="comment-list">
                    {% for comment in comments %}
                        <img src="{{ comment.author.avatar(36) }}">{{ comment.author.username }}
                        {{ comment.date_posted.strftime('%Y-%m-%d') }}
                        <p class="comment-content">{{ comment.content }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="comment-form">
                <p>Add a comment</p>
                <form action="{{ url_for('main.details', post_id=post.id) }}" method="post">
                    {{ comment_form.hidden_tag() }}
                    {{ comment_form.content(class="comment-input", placeholder="Leave a comment...") }}
                    <p>
                        {% for error in comment_form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </p>
                    {{ comment_form.submit }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}