{% extends "base.html" %}

{% block content %}
    <div class="index-container">
        <div class="content">
            <h1>DESIGN YOUR OWN</h1> 
            <p>Your go-to destination for all things DIY!<br>
                Whether you're a seasoned DIY enthusiast or just dipping your toes into the world of hands-on projects,<br>
                our platform is designed to be your ultimate resource hub.
            </p>
            <div>
                <button class="index-button"><a href="{{ url_for('main.dashboard') }}">LEARN MORE</a></button>            
                <button type="button" onclick="addBookmark();" class="index-button">SUBSCRIBE</button>
            </div>
        </div>
        <div class="instruction">
            <div class="title-text">
                <h1>INSTRUCTIONS</h1>
                <p>
                    Have a burning question about a DIY project? Need guidance on your latest endeavor?<br><br>
                    Look no further. Ask your questions, share your expertise, and dive into a community of like-minded individuals passionate about creating and innovating.<br><br>
                    Explore a plethora of DIY projects, from simple hacks to intricate crafts, and find inspiration to fuel your creativity.<br><br>
                    Dive into trending questions to stay up-to-date with the latest buzz in the DIY world.<br><br>
                    Not sure where to start? Use our search feature to find relevant topics based on keywords and discover solutions tailored to your needs.<br><br>
                    Track the progress of your questions and save valuable insights from others for future reference.<br><br>
                    But before you embark on your DIY journey, remember to sign up or log in to unlock the full potential of our platform.<br><br>
                    Join our growing community of DIY enthusiasts today and let's embark on this creative journey together!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
