{% extends "base.html" %}

{% block content %}
    <div class="forms-container">
        <h1>Create a Post</h1>
        <div class="posts-form-box">
            <form action="{{ url_for('main.post') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.title.label }}
                {{ form.title(class="posts-title") }}
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                
                <p>
                    {{ form.content.label }}
                        {{ form.content(rows=10, cols=80, class="posts-content") }}
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </p>

                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
