{% extends "base.html" %}

{% block content %}
    <div class="posts-form">
        <form action="{{ url_for('post') }}" method="post">
            {{ form.hidden_tag() }}
            <legend>{{ legend }}</legend>
            <div>
                {{ form.title.label }}
                {{ form.title(size=64) }}
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.content.label }}
                {{ form.content(row=10) }}
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.image.label }}<br>
                {{ form.image() }}
                {% for error in form.image.errors %}
                <span>[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
