{% extends "base.html" %}

{% block content %}
    <div class="profile-header">
        <h1>Hello, {{ user.username }}!</h1>
        <img src="../static/images/profile_avatar.jpg" alt="Profile Image" class="profile-img">
        <h1>{{ user.username }}</h1>
        <p >0 followers · 0 following</p>
        <p >Write a description about yourself</p>
    </div>

    <div>
        <h1>{{ user.username }}'s Profile</h1>
        <h2>My Posts</h2>
        <ul>
            {% for post in posts %}
            <li><a href="{{ url_for('details', post_id=post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        
        <h2>My Comments</h2>
        <ul>
            {% for comment in comments %}
            <li>On post <a href="{{ url_for('details', post_id=comment.post_id) }}">{{ comment.post.title }}</a>: {{ comment.content }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
