{% block content %}
    <h1>Search Results for "{{ keyword }}"</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if results %}
        <ul>
            {% for post in results %}
            <div>
                <h2><a href="{{ url_for('details', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p>{{ post.content[:150] }}...</p> 
            </div>
            {% endfor %}
        </ul>
    {% else %}  
        <p>No results found.</p>
    {% endif %}
{% endblock %}